.perfil-usuario{
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
}
.perfil-user-flex{
    gap: 10px;
    align-items: center;
}
.options-modal{
    position: fixed;
    top: 92px;
    right: 0;
    width: 60px;
    height: 165px;
    background:linear-gradient(to left top, #1B1426,rgba(27,30,38,0.4) );
    justify-content: space-evenly;
    align-items: center;
}
.options-modal img{
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.perfil-usuario__icon{
    cursor: pointer;
}