.atualizar-notificacao {
    height: 650px;
    background-color: var(--color-white);
    width: 780px;
    border-radius: 4px;
    padding: 20px;
    position: relative;

}
.span-notificacao{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.atualizar-notificacao  form input,
.atualizar-notificacao select {
    width: 437px;
    height: 31px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
}

.atualizar-notificacao  label {
    width: 200px;
}


.atualizar-notificacao h1 {
    margin-top: 40px;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 30px;
}

textarea {
    outline: none;
    height: 100px;
    resize: none;
    padding: 5px;
    width: 437px;
}

.container-inputs {
    gap: 20px;
}

.btn-salvar-notification {
    height: 36px;
    width: 176px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: calc(50% - 80px);
}