.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.45);
}

.recuperar-conta{
    position: relative;
    width: 580px;
    height: 475px;
    border-radius: 8px ;
    background-color: var(--color-white);
    padding: 40px 20px;
}
.fechar-modal{
    position: absolute;
    top:8px;
    right: 20px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}
.title-form{
   font-size: 24px; 
   font-weight: 700;
   margin-bottom: 15px;
}
.hr-form-senha{
    width: 250px;
    background-color: var(--secundary-color);
    padding: 0.5px;
    margin-bottom: 60px;
}
.inputs-form-senha{
    gap: 15px;
    width: 100%;
}
.input-senha-item{
    width: 100%;
    justify-content: space-between;

}
.input-senha-item label{
    width: 173px;
}
.input-senha-item input, select{
    width: 214px;
    height: 30px;
    border-radius: 8px;
    border:  1px solid #D6D6D6;
    outline: none;
    padding-left: 10px;
}
.input-senha-item span{
    width: 90px;
    height: 30px;
    font-size: 16px;
    font-weight: 200;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-trocarSenha{
    width: 153px;
    height: 41px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    margin-top: 64px;
    margin-left: calc(50% - 90px);
    cursor: pointer;
}